h6 {
  font-size: 16px;
}
.selection-wrapper {
  display: flex;

  > .item-wrapper {
    margin: 0 16px;
    padding: 0 32px 0 16px;
    border: 1px solid black;
    flex: 1 1 25%;
  }
}

.item-title {
  display: inline-block;
  margin: 8px 0;
  cursor: pointer;
}

.item-wrapper > .item-wrapper {
  padding-left: 24px;
}

.is-checked {
  background: green;
}

.is-partial {
  background: yellow;
}