
.search-container {
  background: #fff;
  color: #000;
  width: 100%;
}

.search-wrapper {
  border: 2px solid #000;
  padding:  0;
}

.search-input {
  width: 100%;
  border: none;
  padding: 16px;

  &:focus {
    outline: none;
  }
}

.highlight-text {
  background: #6e6f29;
}

.search-input-wrapper {
  position: relative;
}


.clear-btn {
  position: absolute;
  right: 8px;
  background: none;
  box-shadow: none;
  padding: 8px 16px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
}

.search-result {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.result-item {
  padding: 16px;
  background: #102c5a;
  color: #fff;
  transition: background .3s;

  &:hover {
    background: #296CDB;
    cursor: pointer;
  }

  &.active {
    background: #0039A8;
  }
}