* {
  box-sizing: border-box;
}
.app {
  max-width: 1024px;
  width: 100%;
  padding: 0 15px;
}

.app-component {
  margin: 50px 0;
}

button {
  background: none;
  box-shadow: none;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
}